.content-header {
    font-family: 'Oleo Script', cursive;
    color:#fcc500;
    font-size: 45px;
}

.section-content {
    text-align: center;

}

#contact {
    font-family: 'Teko', sans-serif;
    width: 100%;

}

.avatar {
    text-align: center;
}

.margin-top-20 {
    margin-top: 20px;
}

.table-striped>tbody>tr:hover {
    background-color: lightblue;
}

.modal-header, .modal-footer {
    background: lightsteelblue;
}

.modal-body {
    background-color: #e8ecec;
}

.avatar>img {
    border-radius: 50%;
}