body{
    background: #f1f1f1;
}
table thead th{
	font-family: Arial, Helvetica, sans-serif;
}
#inputAccount, #inputUnitName, #inputStoreName, #inputCashName{
	margin-left:10px;
}
#inputAccount ,#inputUnitName{
    width: 319px
}
#inputDate{
	width: 178px
}
.header-title{
	padding: 20px
}
.group-content{
	padding: 20px;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    margin-bottom: 20px;
    background-color: #ffffff;
}
.action-btn{
    text-align: center;
}
.btn-primary{
	width: 90px;
}
